/* Global styles 
------------------------------------*/
/* border box fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
a {
    color: #EF223C;
}
a:hover {
    text-decoration: none;
}
h1, h2 {
  font-family: 'Caveat', sans-serif;
  font-weight: 650;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}

input, select{
  position: absolute;
  left: 320px;
}

input:focus{
  background-color: #C49595;
}

nav{
  width: 100%;
  background-color: #777;
  text-align: center;
  box-shadow: 1px 0px 2px #333, -1px -1px 2px #333;
}

nav ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AAA;
  background-color: #777;
  height: 40px;
  transition: 0.6s;
}

nav ul a{
  font-family: Cinzel, sans-serif;
  font-weight: 500;
  color: #FFF;
  text-decoration: none;
  width: 100%;
}

nav ul li:hover{
  background-color: #F00;
}

ul{
  list-style-type: none;
}

.body-wrap {
  max-width: 1100px;
  margin: 0 auto;
  padding: 25px;
  overflow: hidden;
}

.content-wrap {
  max-width: 950px;
  max-height: 275px;
  margin: 0 auto;
  padding: 25px;
  overflow: hidden;
}

.column-narrow {
  width: 32%;
  float: left;
  padding-right: 3%;
  min-height: 200px;
}
.column-wide {
  width: 68%;
  margin: auto;
  min-height: 175px;
  font-family: 'Caveat', sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  text-decoration: none;
}

.error {
  color: red;
}

#fullname{
  width: 135px;
}

#phone{
  width: 100px;
}

#city{
  width: 140px;
}

/* Header & Footer 
------------------------------------*/
header, 
footer {
  background: #2B2D42;
  color: #8D99AE;
}
header h1,
header h2 {
    color: #EDF2F4;
    margin: 0;
}

/* Header styles only */
header {
  /*text-align: center;*/
}
.profile-img {
  /*width: 300px;*/
  border-radius: 50%;
  /*float: left;*/
  /*margin-right: 30px;*/
}

/* Footer styles only */
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}

/* Float Submit and Clear buttons apart from one another
*/
#submit{
  float: left;
}

#clear{
  float: right;
}

/* Work Experience
------------------------------------*/
.work {
    background: #EDF2F4;
}


/* Education
------------------------------------*/
.education {
    background: #8D99AE;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
  #mainheading{
    height: 180px;
  }

  #mainheading h1{
    font-size: 2.6em;
    align-self: center;
  }

  nav ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
  }

  nav ul li{
    border: none;
    transition: none;
  }

  nav ul a{
    transition: 1s;
  }

  nav ul a:hover{
    color: #F00;
  }

  nav ul li:hover{
    background-color: #777;
  }
}